/*Bg- body*/
.login-background {
  background-image: url("/public/assets/pastabg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  padding: 20px;
}

/*Contenitore Register*/
.login-container {
  background-color: #302220;
  opacity: 0.8;
  padding: 10px;
  border-radius: 8px;
}
/*h1*/
.loginTitle {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 1px;
}
/*btn register*/
.loginButton {
  background-color: #216b10;
  color: #fff;
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.loginButton:hover {
  color: #c20702;
  background-color: #184e0c;
  cursor: pointer;
}
/*Alert*/
.alert-success {
  background-color: #216b10;
  color: #fff;
  border: 1px solid #184e0c;
  border-radius: 5px;
  padding: 15px;
  font-size: 1.1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
}

.alert-danger {
  background-color: #c20702;
  color: #fff;
  border: 1px solid #810500;
  border-radius: 5px;
  padding: 15px;
  font-size: 1.1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
}
/*Authenticated alert*/
.alert-p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
}
.alert-auth-btn {
  background-color: #216b10;
  color: #fff;
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.alert-auth-btn:hover {
  color: #c20702;
  background-color: #184e0c;
  cursor: pointer;
}
.loginControl:focus {
  border-color: #216b10;
  outline: none; /* none x outline di default */
  box-shadow: 0 0 5px #184e0c;
}

/*07/10/2025 -> Icona occhio dentro il campo password */
.password-toggle-icon {
  position: absolute;
  right: 15px;      
  top: 68%;    
  transform: translateY(-50%);
  color: #216b10;  
  cursor: pointer;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.password-toggle-icon:hover {
  color: #c20702;   
}

/* Evita che il testo si sovrapponga all’icona */
.loginControl[type="password"],
.loginControl[type="text"] {
  padding-right: 2.5rem;
}

@media (max-width: 576px) {
  .loginButton {
 font-size: 1rem;
 padding: 4px;
  }
}