/*userProfile-bg*/
.userProfile_background {
  background-image: url("/public/assets/basil.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  position: relative;
}

.userContainer {
  background: rgba(255, 255, 255, 0.3); /* vetro opaco */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  padding: 30px;
  width: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s eas;
}

/*h1*/
.profileTitle {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 1px;
  text-align: right;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.profileTitle:hover {
  color: #0f2b03;
}
/*user-card*/
.userProfile_container {
  background-color: rgba(233, 229, 215, 0.8);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: 1px solid #e0e0e0;
  position: relative;
}

/*btn-salva, annulla (nella modifica utente)*/
.save_annulla_button,
.modifica-button {
  background: linear-gradient(45deg, #0f2b03, #b6c374);
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px 16px;
  border-radius: 6px;
  transition: background 0.3s ease-in-out, transform 0.2s ease;
}

.save_annulla_button:hover,
.modifica-button:hover {
  background: linear-gradient(45deg, #2a7709, #b6c374);
  transform: translateY(-2px); /* hover */
}

/*annulla-cancelazionne-btn*/
.annulla-cancella-button {
  background-color: #160d08;
  padding: 10px 20px;
}
.logout-button:hover,
.annulla-cancella-button:hover {
  background-color: #2d2926;
  transform: translateY(-2px);
}
/*cancella, conferma-cancella, annulla-logout btn*/
.delete-button,
.conferma-cancella-button {
  background: linear-gradient(45deg, #e60a20, #160d08);
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  transition: background 0.3s ease-in-out, transform 0.2s ease;
}

.delete-button:hover,
.conferma-cancella-button:hover {
  background: linear-gradient(45deg, #f2031b, #5f0202);
  transform: translateY(-2px);
}
/*avatar/img account*/
.avatar-img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: 3px solid #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.avatar-img:hover {
  transform: scale(1.05); /* Ingrandisco img. */
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3); /*Shadow piu intensa*/
}
/*user-card-footer*/
.profile_card_footer {
  background-color: rgba(233, 229, 215, 0.8);
  border-top: 1px solid #7c7979;
  padding: 15px;
}

/*sfondo semitrasparente all'alert*/
.alert-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /*semitrasparente*/
  z-index: 1049; /* Dietro l'alert */
}

/*delete-modal*/
.delete-modal {
  background-color: #e9e5d7;
}
/*ricettario section*/
.ricettario-container,
.liked-container,
.lista-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(24, 23, 23, 0.5);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.ricettario-container:hover,
.liked-container:hover,
.lista-container:hover {
  background-color: rgba(50, 50, 50, 0.5);
}

.ricettario-title,
.liked-title,
.lista-title {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.ricettario-title:hover,
.liked-title:hover,
.lista-title:hover {
  color: #0f2b03;
}

.ricettario_img,
.heart_img {
  max-width: 8.5rem;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}
.listaSpesa_img {
  max-width: 10.6rem;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.ricettario_img:hover,
.heart_img:hover,
.listaSpesa_img:hover {
  transform: scale(1.02);
}

/* Media query */
@media (max-width: 768px) {
  .sidebar {
    margin-bottom: 20px;
    min-height: auto;
  }

  .ricettario-sidebar-img,
  .likes-sidebar-img {
    max-width: 80%;
  }
}

/*Media query card x 576px*/
@media (max-width: 576px) {
  .responsive-layout {
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
  }
  .userProfile_container {
    padding: 1rem;
  }

  .userProfile_container .avatar-img {
    width: 8rem;
    height: 8rem;
    margin-bottom: 1rem;
  }

  .profileTitle {
    font-size: 1.8rem;
    text-align: center !important;
  }

  .profile_card_footer {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .save_annulla_button {
    margin: 0 auto;
  }

  .ricettario-title,
  .liked-title {
    font-size: 1.5rem;
  }
  .ricettario_img,
  .heart_img {
    max-width: 8rem;
  }
  .ricettario-container {
    margin-bottom: 10px;
  }
}
