/*Riga 1 a 15 -> per posizionare e spingere in basso il footer*/
html, body, #root {
  height: 100%;
}
/*app-shell -> div di App.js*/
.app-shell {
  min-height: 100vh; /*Tutta l'altezza del viewport*/
  display: flex;
  flex-direction: column;
}

.app-shell > main {
  flex: 1 0 auto; /* il main si espande e occupa tutto lo sppazio disponibile*/
                   /* 1 = può crescere, 0 = non può ridursi sotto il contenuto, auto = dimensione base */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
